/*reset*/
html,body{ height: 100%;background: pink;}
body, p, dl, dd, pre, h1, h2, h3, h4, h5, h6,form,ul, ol{margin: 0px;font-weight:normal;list-style: none;}
ul {padding: 0;}
/*form*/
input, button, option, textarea, select, fieldset{box-sizing:border-box; padding: 0 0 0 5px;vertical-align: middle;font:inherit;outline: none;}
button{cursor:pointer;}
/*排版*/
body{position: relative;color:#333; font:14px/1.5 "\5FAE\8F6F\96C5\9ED1";}
a{color:inherit;}
a:link,a:active,a:hover,a:focus,:focus{text-decoration: none;outline:none;}
img,iframe{border:none;display:inline}
.icon {width: 1em; height: 1em;vertical-align: -0.15em; fill: currentColor; overflow: hidden;}
/*清除浮动*/
.clearfix:after { content: '\200B'; display: block; height: 0; clear: both;}
.clearfix{*zoom: 1;}
.clear{clear:both;}
[v-cloak]{
    display:none;
}
.ml5{margin-left:5px;}
.wx-pop-out .arrow-blue:before, .wx-pop-out .arrow-blue:after{display:none;}
.layout-box{display: none;}

.i{font-style: italic;    color: #999;}